@import url('./global.css');

.background {
    z-index: -1;
    position: absolute;
    background-color: var(--ColorSecondary);
}

.layoutHome {
    width: 120vw;
    top: -150px;
    left: -80px;
    height: 100vh;
    transform: rotate(-10deg);

    animation-name: backgroundAnimation;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    background-image: url('https://clipartcraft.com/images/transparent-images-technology-4.png');
    background-repeat: no-repeat;
    background-position: right;
}
.layoutInfo {
    width: 60vw;
    height: 25vh;
    left: 100px;
    top: 1350px;
    box-shadow: -150px -120px #12318d;
    transform: rotate(-10deg);
}