@import url('./global.css');

.background {
    z-index: -1;
    position: absolute;
}

.layoutHome {
    background-color: var(--ColorSecondary);
    width: 120vw;
    top: -25%;
    left: -10%;
    height: 100vh;
    transform: rotate(-10deg);

    animation-name: backgroundAnimation;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    background-image: url('https://clipartcraft.com/images/transparent-images-technology-4.png');
    background-repeat: no-repeat;
    background-position: right;
}
.layoutInfo {
    background-color: var(--ColorSecondary);
    width: 50vw;
    height: 25vh;
    left: 100px;
    top: 450px;
    box-shadow: -150px -120px #12318d;
    transform: rotate(-10deg);
}

/* Section  Technologies */
.layoutTechnologies {
    top: -39px;
    left: -50px;
    width: 150%;
    height: 100%;
    background-color: #cccccc;
    box-shadow: inset 50vw 0px 500px #fdfdfd;

    background-image: url('../assets/images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 60%;
    background-blend-mode: luminosity;

    transform: rotate(-10deg);
}
.barTechnologies {
    background-color: var(--ColorSecondary);
    width: 50vw;
    height: 20vh;
    right: -40%;
    bottom:-15%;
    box-shadow: -150px -120px #12318d;
    transform: rotate(-10deg);
}
/* -------------------------- */

/* Background FormLead */
.bar {
    transform: rotate(-10deg);
    width: 20%;
    height: 10%;
}
.position1 {
    top: 42%;
    left: 20%;
    background-color: #12318d;
}
.position2 {
    top: 53%;
    left: 15%;
    background-color: #3860d8;
}
.position3 {
    bottom: 10%;
    right: 20%;
    background-color: #12318d;
}
.barFormLead {
    transform: rotate(-7deg);
    width: 70%;
    height: 24vh;
    bottom: 18%;
    background-color: #12318d;
    box-shadow: -50px -150px #3860d8, 50px -150px #3860d8;
}
/* -------------------------- */

.layoutFooter {
    left: -5%;
    top: 16%;
    width: 110%;
    height: 101%;
    background-color: var(--ColorSecondary);
    box-shadow: inset 10px 10px 200px,inset 10px 10px 300px;

    transform: rotate(-7deg);
    background-image: url('../assets/images/meeting-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

@media screen and (max-width: 1060px) {
    
}

@media screen and (max-width: 600px) {
    .layoutHome {
        left: -20%;
        width: 150vw;
        background-position: 200px;
    }
    /* Section  Technologies */
    .barTechnologies {
        width: 50vw;
        height: 20vh;
        right: -40%;
        bottom:-15%;
        box-shadow: -100px -100px #12318d;
    }
    .layoutFooter {
        left: -10%;
        top: 16%;
        width: 150%;
    }
}