@import url('./global.css');


.container_infos-formLead {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_image-formLead {
    position: relative;
    text-align: center;
    width: 50%;
}
.container_image-formLead img {
    height: 50%;
    width: 50%;
}
.container_about-formLead {
    width: 40%;
}
.container_about-formLead  h4 {
    font-size: 2.3rem;
}
.container_about-formLead p {
    margin-top: 2%;
    font-weight: 300;
}
.form {
    position: relative;
    display: flex;
    margin-top: 2%;
    justify-content: center;
}
.form iframe {
    width: 50%;
    height: 100vh;
    box-shadow: 1px 3px 10px;
}

@media screen and (max-width: 700px) {
    .container_infos-formLead {
        flex-direction: column-reverse;
    }
    .container_about-formLead {
        width: 80%;
    }
    .container_about-formLead  h4 {
        font-size: 1.3rem;
    }
    .container_image-formLead, .container_image-formLead img {
        width: 60%;
    }
    .form iframe {
        width: 80%;
        height: 100vh;
        box-shadow: 1px 3px 10px;
    }
}