@import url('./global.css');

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 80vh;
    position: relative;
}
h1 {
    letter-spacing: 3px;
    font-size: 3.9rem;
    max-width: 40%;
    margin-left: 5%;
    color: var(--ColorPrimary);
}
#home p {
    color: var(--ColorPrimary);
    margin-left: 5%;
    font-weight: 300;
    width: 50%;
}
.container_buttons {
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    gap: 3%;
}
.container_buttons a {
    text-decoration: none;
    border: 1px solid var(--ColorPrimary);
    padding: 15px;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 5px;
    transition: 1s;
    letter-spacing: 3px;
}
.container_buttons a:hover {
    transform: scale(1.1);
}
.container_buttons a:first-child {
    color: var(--ColorSecondary);
    background-color: var(--ColorPrimary);
}
.container_buttons a:last-child {
    color: var(--ColorPrimary);
}


@media screen and (max-width: 1060px) {
    h1 {
        font-size: 3rem;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        margin-top: 40px;
        font-size: 2.1rem;
        max-width: 80%;
    }
    .container_buttons {
        flex-direction: column;
        gap: 5px;
    }
    .container_buttons a {
        width: 65%;
        text-align: center;
    }
}
