@import url('./global.css');

#infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
#infos h3 {
    font-size: 2.3rem;
    margin: 1%;
}
#infos p {
    margin-bottom: 1%;
    font-weight: 300;
    font-size: 1.1rem;
    max-width: 50%;
}
.video {
    height: 64vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../assets/images/notebook.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(10px 15px 15px);
}
iframe {
    height: 69%;
    width: 37%;
    margin-bottom: 8%;
    border-radius: 6px;
}

@media screen and (max-width: 1060px) {
    
}

@media screen and (max-width: 700px) {
    #infos h3 {
        font-size: 1.3rem;
    }
    #infos p {
        font-size: 1rem;
        max-width: 80%;
    }
    iframe {
        height: 39%;
        width: 90%;
        margin-bottom: 16%;
        border-radius: 6px;
    }
}
